<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="Cordova-Get-Notification-Preference"
      version="1.0">

    <name>GetNotificationPreference</name>
    <description>Cordova plugin to get user app notification preference</description>

    <js-module src="www/GetNotificationPreference.js" name="GetNotificationPreference">
        <merges target="cordova.plugins.GetNotificationPreference" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=10.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="GetNotificationPreference">
                <param name="ios-package" value="GetNotificationPreference" />
            </feature>
        </config-file>

        <header-file src="src/ios/GetNotificationPreference.h" />
        <source-file src="src/ios/GetNotificationPreference.m" />

    </platform>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GetNotificationPreference">
                <param name="android-package" value="GetNotificationPreference" />
            </feature>
        </config-file>

        <source-file src="src/android/GetNotificationPreference.java" target-dir="src/by/GetNotificationPreference/cordova/" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
               
        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>
    </platform>

</plugin>
