<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="com.cordova.plugin.NOSUtilsPlugin"
      version="1.0">

    <name>GetNotificationPreference</name>
    <description>Cordova plugin to get user app notification preference</description>

    <js-module src="www/NOSUtilsPlugin.js" name="NOSUtilsPlugin">
        <merges target="NOSUtilsPlugin" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=9.0.0"/>
        <engine name="cordova-android" version=">=10.0.0"/>
        <engine name="cordova-ios" version=">=5.0.0"/>
    </engines>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NOSUtilsPlugin">
                <param name="ios-package" value="NOSUtilsPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/NOSUtilsPlugin.h" />
        <source-file src="src/ios/NOSUtilsPlugin.m" />
               
        <preference name="CAMERAUSAGEDESCRIPTION" default="Precisamos de aceder a camera para tirar fotos" />    
               
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERAUSAGEDESCRIPTION</string>
        </config-file>

    </platform>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NOSUtilsPlugin">
                <param name="android-package" value="com.cordova.plugin.NOSUtilsPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/NOSUtilsPlugin.java" target-dir="src/by/NOSUtilsPlugin/cordova/" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
               
        <dependency id="cordova-support-android-plugin" version="~1.0.0"/>
    </platform>

</plugin>
